<div>
  <header class="header-products">
      <a href="/products"><img src="/images/Logo.png" alt="Business logo"></a>
      <ul class="header-sections">
        <li class="header-section">Inicio</li>
        <li class="header-section">Almacén</li>
        <li class="header-section">Bebidas</li>
        <li class="header-section">Limpieza</li>
        <li class="header-section">Congelados</li>
        {{#if adminRole}}<li class="realTimeProductsBtn">Administrar</li>{{/if}}
      </ul>
      <div class="user-cart_container">
        <div class="username_container">
          <span class="username_display">{{username}}<span class="hashtag">#</span>
          {{#if adminRole}}<span class="role">admin</span>{{else}}<span class="role">user</span>{{/if}}
          <button class="logout">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
        {{#if adminRole}}
        <span></span>
        {{else}}
          <div class="viewCart"><i class="fa-solid fa-cart-shopping"></i><span class="countProducts"></span></div>
        {{/if}}
      </div>
  </header>

  
  <form action="" class="params">
    <h2 class="params-title">Todos los productos</h2>   
    <div class="params_search">
      <input type="text" name="search" id="search" placeholder="Buscar">
      <button type="submit" id="btnSubmit"><i class="fa-solid fa-magnifying-glass"></i></button>      
    </div>
    <div class="params_limit-sorted">
      <div class="params_sorted">
        <select name="sorted" id="sorted">
          <option value="0" {{#if noSort}} selected {{/if}}>Sin ordenar</option>
          <option value="-1" {{#if mayorSort}} selected {{/if}}>Mayor precio</option>
          <option value="1" {{#if menorSort}} selected {{/if}}>Menor precio</option>
        </select>
      </div>
      <div class="params_limit">
        <select name="limit" id="limit">
          <option value="10" {{#if limit10}} selected {{/if}}>10</option>
          <option value="25" {{#if limit25}} selected {{/if}}>25</option>
        </select>
      </div>
    </div>

 
  </form>
  
  <ul id="productList">
    {{#if adminRole}}
      {{#each products}}
        <li class="product_card">
          <img src={{this.thumbnail}} class="product_card-img"/>
          <h3 class="product_card-title">{{this.title}}</h3>
          <p class="product_card-description">{{this.description}}</p>
          <div class="product_card-cartprice">
              <button type="button" disabled><i class="fa-solid fa-cart-shopping"></i>[X] Agregar</button>
              <p class="product_card-price">${{this.price}}</p>
          </div>
        </li>
      {{/each}}
    {{else}}
        {{#each products}}
          <li class="product_card">
            <img src={{this.thumbnail}} class="product_card-img"/>
            <h3 class="product_card-title">{{this.title}}</h3>
            <p class="product_card-description">{{this.description}}</p>
            <div class="product_card-cartprice">
                <button type="button" class="product_card-btnAddToCart" data-id="{{this._id}}" owner="{{this.owner}}"><i class="fa-solid fa-cart-shopping"></i>Agregar</button>
                <p class="product_card-price">${{this.price}}</p>
            </div>
          </li>
        {{/each}}
      {{/if}}
  </ul>
  <div class="page-controller">
    {{#if hasPrevPage}}
          {{#if noSort}}
            <a href="/products?limit={{limit}}&page={{prevPage}}&sorted=0"><button type="button" class="prev"><i class="fa-solid fa-chevron-left"></i></button></a>
          {{/if}}
          {{#if mayorSort}}
            <a href="/products?limit={{limit}}&page={{prevPage}}&sorted=-1"><button type="button" class="prev"><i class="fa-solid fa-chevron-left"></i></button></a>
          {{/if}}
          {{#if menorSort}}
            <a href="/products?limit={{limit}}&page={{prevPage}}&sorted=1"><button type="button" class="prev"><i class="fa-solid fa-chevron-left"></i></button></a>
          {{/if}}
      {{/if}}
      <span class="currentPage">Pag. {{page}}</span>
      {{#if hasNextPage}}
          {{#if noSort}}
            <a href="/products?limit={{limit}}&page={{nextPage}}&sorted=0"><button type="button" class="next"><i class="fa-solid fa-chevron-right"></i></button></a>
          {{/if}}
          {{#if mayorSort}}
            <a href="/products?limit={{limit}}&page={{nextPage}}&sorted=-1"><button type="button" class="next"><i class="fa-solid fa-chevron-right"></i></button></a>
          {{/if}}
          {{#if menorSort}}
            <a href="/products?limit={{limit}}&page={{nextPage}}&sorted=1"><button type="button" class="next"><i class="fa-solid fa-chevron-right"></i></button></a>
          {{/if}}
      {{/if}}
  </div>
  
  
  <footer class="footer">
    The Market® 2023 
  </footer>
</div>

<script src="/js/products.js"></script>
